body {
    height: 100vh;
}

.outer-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.carousel-container {
    overflow: hidden;
    width: 500px;
}

.carousel-slides {
    display: flex;
    width: 1500px;
    position: relative;
}

#carouselSlides {
    transition: right 0.5s ease-out;
  }
  

.slide img {
    width: 100%;
    height: auto; /* maintain aspect ratio, or use a fixed height */
    object-fit: cover; /* or 'contain' to fit the entire image */
  }
  
